<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style='float: right; '><a th:href="@{/logout}">LOGOUT</a></div>
    <title>User</title>
</head>
<body>
<form th:method = "PUT" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <input type="text" th:field="${user.firstName}" id="name">
    <label for="name"><-Enter name</label>
    <br/>
    <input type="text" th:field="${user.lastName}" id="lastname">
    <label for="lastname"><-Enter lastname</label>
    <br/>
    <input type="text" th:field="${user.username}" id="Username">
    <label for="Username"><-Enter login</label>
    <br/>
    <input type="text" th:field="${user.password}" id="Password">
    <label for="Password"><-Enter password</label>
    <br/>
    <select id="roles" th:field="*{roles}" size="3" multiple="multiple">
        <option th:each="role : ${roles}"
                th:value="${role.getId()}"
                th:text="${role.role}"></option>
    </select>
    <label for="roles">* It is necessary to choose a role(s)</label>
    <br>
    <input type="submit" value="Change"/>
</form>>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>